@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');
@import "reset";
@import "variables";

* {
  box-sizing: border-box
}

body {
  font-family: 'Roboto', sans-serif;
  background: $greyLight;
}

#sideMenu {
  width: 280px;
  position: absolute;
  top: 0;
  bottom: 0;
  background: $purpleLight;

  nav {
    padding-top: 100px;

    a {
      display: block;
      padding: 15px 30px;
      text-decoration: none;
      color: $greyDark;
      font-weight: 300;
      transition: all .3s ease-in-out;

      &:hover {
        background: $purpleDark;
        border-left: 5px solid $greenNeon;
        padding: 15px 30px 15px 25px;

        .fa {
          color: $greenNeon;
        }
      }

      .fa {
        color: $greyDark;
        font-size: 1.4 rem;
        margin-right: 0.8 rem;
        display: inline-block;
        width: 30px;
      }

      &.active {
        background: $purpleDark;
        border-left: 5px solid $greenNeon;
        padding: 15px 30px 15px 25px;

        .fa {
          color: $greenNeon;
        }
      }
    }
  }
}